.list-item {
    margin-top: 35px;
}

.list-item-container {
    display: inline-flex;
}

.list-item-check {
    margin-right: 15px;
    transform: scale(1.75);
}

.item-checked {
    color: #888;
    text-decoration: line-through;
}

.list-item-bundle {
    padding-right: 10px;
}

.list-item-name {
    font-weight: bold;
    color: #444;
    padding-right: 10px;
}

.list-item-location {
    padding-right: 10px;
}

.list-item-time {
    padding-right: 10px;
}

.list-item-weather {
    padding-right: 10px;
}